@page
 @model WebApplication1.Pages.Sessions.DetailsModel 

@{
    ViewData["Title"] = "Details";
    int key = Model.SessionDb.session_key;
    @functions {
        // public void OnPost()
        // {
           
        //     Response.Redirect("Sessions");




        // }
        
        
    }
}

<h1>@Html.DisplayFor(model => model.SessionDb.country_name)</h1>

<div>
    <h4>@Html.DisplayFor(model => model.SessionDb.circuit_short_name) @Html.DisplayFor(model => model.SessionDb.year)</h4>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            Country
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SessionDb.country_name)
        </dd>
        <dt class="col-sm-2">
            Circuit name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SessionDb.circuit_short_name)
        </dd>
        <dt class="col-sm-2">
            Start date
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SessionDb.date_start)
        </dd>
        <dt class="col-sm-2">
            End date
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SessionDb.date_end)
        </dd>

        
    </dl>
</div>


<a href="/Drivers/?key=@Model.SessionDb.session_key" class="btn btn-primary">Show Drivers</a>

